*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
body {
    background-color: #080808;
    color :#fff;
}
img{
    width: 100%;
    height: auto;
    background-position: center;
}
.welcome {
    color: rgb(210, 34, 151);
    font-size: 20px;
    font-weight: bold 
}